/* Estilos generales para el texto */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}
.titulo-publicidad{
    color: rgb(249, 130, 27);
}
/* Estilos para el contenedor del quiz */
#quiz {
    max-width: 600px;
    margin: 30px auto;
    text-align: center;
    padding: 20px;
    
}
.sumarsinestrellas {
    margin-top: 5px;
    color: lightcoral;
}


#question {
    font-size: 20px;
    margin-bottom: 20px;
}

#options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color:rgb(124, 54, 173);
    color: white;
    cursor: pointer;
    margin-top: 10px;
    display: inline-block;
}

button:hover{
    background-color: rgb(215, 140, 255);
    border-right: none;
}

.custom-button {
    background-color: rgb(136, 0, 255);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.custom-button:hover {
    background-color: rgb(90, 0, 139);
}


.button-especial:hover {
    background: #41295a;  /* fallback for old browsers */
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #237A57, #093028);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #237A57, #093028); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

}

button[disabled] {
    background: #16222A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    cursor: not-allowed;
}


#start-btn{
    background: #8E2DE2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#start-btn:hover{
    background: #1f4037;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.user-info {
    margin-bottom: 0; /* Eliminar margen inferior */
   
    color: #e65c00;  /* fallback for old browsers */
    color: -webkit-linear-gradient(to right, #F9D423, #e65c00);  /* Chrome 10-25, Safari 5.1-6 */
    color: linear-gradient(to right, #F9D423, #e65c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.user-info span {

    margin-left: 0px; /* Ajustar el margen izquierdo entre el texto y el valor */
    color:#e6f7ff;
    margin-left:5px ;
    margin-right: 5px;
}

/* Estilos para los elementos dinámicos */
.dynamic-data {
    background-color: #006c7d; /* Color de fondo */
    padding: 5px 10px; /* Padding */
    border-radius: 5px; /* Border radius */
    color: #fff; /* Color del texto */
    display: inline-block; /* Asegura que el padding y background se apliquen correctamente */
    margin-top: 5px;
     /* Margen superior para separar del texto anterior */
}

/* Ajustes para la clase bg-warning si es necesario */
.dynamic-data.bg-warning {
    background-color: #ffc107; /* Color de fondo específico para puntos */
    color: #000; /* Color del texto para contraste */
}

.card-user{
  
}
.quiz-start-image {
    max-width: 100%;
    height: auto;
}
i{
    color:gainsboro;
}

span {
    color: #000;
}

h1 {
    margin-bottom: 20px;
}

p {
    margin-top: 20px;
}

/* Estilos para los select */
select {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #c297ff;
    background: #abbaab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffc6c6, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

    appearance: none; /* Para eliminar los estilos de selección del navegador */
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-bottom: 10px;
}

/* Cambiar el fondo cuando se pasa el mouse sobre una opción */
.select-form:hover {
    background-color: rgb(147, 245, 142); /* Cambia el color de fondo al pasar el mouse */
  }
  
/* Estilos para los botones del resumen */
#summary-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
#download-btn:hover{
  background-color:rgb(94, 6, 156);
  transition: background-color 0.3s ease;

}
#new-quiz-btn:hover{
    background-color:rgb(94, 6, 156);
  transition: background-color 0.3s ease;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
}
.card-temas {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #5e8bde;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #294a87);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #19366c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
}




.select-container select {
    width: 100%;
}

/* Estilos responsivos */
@media (max-width: 590px) {
    .select-container {
        width: auto;
    }

    .select-container select {
        width:270px;
    }

    #category, #level {
        margin-left: 25px;
    }
}


/* Estilos responsivos */
@media (max-width: 400px) {
    .select-container {
        width: auto;
    }

    .select-container select {
        width:280px;
    }

    #category, #level {
        margin-left: 5px;
    }
}

/* Estilos para respuestas */
.correct-answer {
    background-color: #28a745;
}

.incorrect-answer {
    background-color: #dc3545;
}

/* Media query para dispositivos móviles */
@media (max-width: 600px) {
    body {
        font-size: 17px; /* Incrementa el tamaño del texto en dispositivos móviles */
    }

    h2 {
        font-size: 26px; /* Incrementa el tamaño de los encabezados h2 en dispositivos móviles */
    }

    h3 {
        font-size: 22px; /* Incrementa el tamaño de los encabezados h3 en dispositivos móviles */
    }

    p {
        font-size: 16px; /* Incrementa el tamaño del texto en párrafos en dispositivos móviles */
    }

    button {
        font-size: 16px; /* Incrementa el tamaño del texto en botones en dispositivos móviles */
    }
}


/* Animaciones */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
}

.slide-in {
    animation: slideIn 0.5s ease-in-out;
}

.slide-in-left {
    animation: slideInLeft 0.5s ease-in-out;
}


.carousel-item {
    text-align: center;
}

.carousel-item i {
    font-size: 4rem;
    color: #fffd69; /* Color blanco para los íconos */
    margin-bottom: 0rem;

}

.carousel-item h5 {
    
}

.carousel-item.bg-gradient {
    background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius: 10px;
}

.desarrollador-modal{
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    

}

/*carrusel bagge*/
.carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
}

.carousel-content {
    display: flex;
    animation: scroll 20s linear infinite;
}

.badge {
    margin: 0 10px;
    font-size: 1.2rem;
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-60%);
    }
}
@keyframes scroll {
    0% {
        transform: translateX(-40%);
    }
    100% {
        transform: translateX(0%);
    }
}